.advantages-wrapper {
	text-align: center;
	padding: 70px 0 70px;
	font-style: normal;
}

.advantages__title {
	color: var(--black-blue, #383A4C);
	margin-bottom: 28px;
}

.advantages__subtitle {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 23px;
	color: var(--black-blue, #383A4C);
	margin-bottom: 32px;
}

.advantages__subtitle::before,
.advantages__subtitle::after {
	content: '';
	display: inline-block;
  width: 43px;
  height: 2px;
  background-color: var(--black-blue, #383A4C);
}

.advantages__text {
	max-width: 724px;
	margin: 0 auto;
	color: var(--black-blue, #383A4C);
	font-size: 18px;
	font-weight: 400;
	line-height: 140.625%;
	margin-bottom: 58px;
}

.advantages-slider {
	display: flex;
	justify-content: center;
}

.advantages__list {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	gap: 62px;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 184px;
	margin-right: 36px;
}

.advantages__item {
	margin-right: 0px !important;
}

.advantages__item-text {
	color: var(--black-blue, #383A4C);
	font-size: 20px;
	font-weight: 500;
	line-height: 140.625%;
	max-width: 196px;
}

.advantages__item::before {
	content: '';
	border-radius: 50%;
	width: 122px;
	height: 122px;
	background-color: var(--light-blue, #23C7EC);
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	font-size: 56px;
	font-weight: 500;
	color: var(--white, #FFF);
	line-height: 100%;
	margin-bottom: 16px;
}

.advantages__item_one::before {
	content: '1';
}

.advantages__item_two::before  {
	content: '2';
}

.advantages__item_fhree::before  {
	content: '3';
}

.advantages__item_four::before  {
	content: '4';
}

.advantages-button-prev {
	display: none;
		position: absolute;
		z-index: 5;
		font-size: 0;
		width: 78px;
		height: 78px;
		cursor: pointer;
		background-position: center;
		background-repeat: no-repeat;
		background: url('../img/Left.svg');
		top: 34%;
    left: -15px;
}

.advantages-button-next {
	display: none;
	position: absolute;
	z-index: 5;
	font-size: 0;
	width: 78px;
	height: 78px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/Right.svg');
	top: 34%;
  right: -15px;
}

@media (max-width: 1024px) {
	.advantages-wrapper {
		padding-bottom: 74px;
	}

	.advantages__title {
		max-width: 812px;
    margin: 0 auto 23px;
	}

	.advantages__subtitle {
		margin-bottom: 30px;
		gap: 21px;
	}

	.advantages__text {
		max-width: 666px;
    font-size: 16px;
		margin-bottom: 61px;
	}

	.advantages__item {
		font-size: 18px;
	}

	.advantages__item::before {
		width: 104px;
		height: 104px;
		font-size: 52px;
		margin-bottom: 26px;
	}

	.advantages__list {
		gap: 46px;
	}

	.advantages__item-text {
		font-size: 18px;
	}
}

@media (max-width: 960px) {
	.wrapper {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
	}

	.advantages__list {
		justify-content: start;
	}

	.advantages__item  {
		min-width: 46%;
	}

	.advantages-slider {
    padding: 0 50px;
}

	.advantages-button-prev {
		display: block;
	}

	.advantages-button-next {
		display: block;
	}

}

@media (max-width: 640px) {
	.advantages__item {
		min-width: 100%;
	}
}

@media (max-width: 480px) {
		.advantages__item {
		min-width: 100%;
	}
}

@media (max-width: 320px) {
	.advantages-wrapper {
		padding: 30px 1px 63px;
	}
	.advantages__title {
		margin-bottom: 20px;
	}

	.advantages__subtitle {
		margin-bottom: 26px;
		gap: 27px;
	}

	.advantages__text {
		font-size: 12px;
		margin-bottom: 42px;
	}

	.advantages__subtitle::before,
	.advantages__subtitle::after {
    width: 20px;
    height: 1px;
	}

	.advantages-button-prev {
		top: 28%;
	}

	.advantages-button-next {
		top: 31%;
	}

	.advantages__item::before {
    margin-bottom: 25px;
	}
}