.contact {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 3px;
	color: var(--white, #FFF);
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.contact__phone-link {
	display: block;
	font-size: 24px;
}

.contact__phone-link-text {
	display: inline-block;
	color: var(--white, #FFF);
	border-bottom: 1px solid var(--white, #FFF);
	font-size: 16px;
	padding-bottom: 2px;
}

@media (max-width: 1024px) {
	.contact {
		gap: 6px
	}

	.contact__phone-link {
		font-size: 21px;
	}

	.contact__phone-link-text {
		font-size: 13px;
	}

}

@media (max-width: 320px) {
	.contact {
		content: '';
		background-image: url('../img/Phone.svg');
		background-repeat: no-repeat;
		width: 25px;
		height: 25px;
	}

	.contact__phone-link {
		display: none;
	}

	.contact__phone-link-text {
		display: none;
	}
}